.photo-grid {
    margin: 92px 3.75% 0;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 92px 4.68% 0;
        gap: 14px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 88px 3.12% 0;
        gap: 16px;
    }
}
@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: 100%;
        margin: 64px 5% 0;
        gap: 12px;
    }
}