.footer {
    margin: 92px 48px 24px;
    display: flex;
    align-content: space-between;
}
@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px;
    }
}
@media screen and (max-width: 710px) {
    .footer {
        max-width: 186px;
        margin: 64px auto 24px 16px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 48px;
    }
}