.place__url-heading {
    color: #aaa;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    justify-self: flex-end;
    text-transform: uppercase;
}