.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 460px;
}
@media screen and (max-width: 1024px) {
    .place__website {
        max-width: 440px;
    }
}
@media screen and (max-width: 768px) {
    .place__website { 
        max-width: 340px;
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .place__website {
        margin: 0 16px;
        min-width: 288px;
    }
}